* {
  margin: 0;
  padding: 0;
  /* font-family: "KoiFont", Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif; */
  /* cursor: url("@/assets/mouse/Work.ani"), default; */
  word-break: break-word;
}

.cursor {
  width: 15px;
  height: 15px;
}

:root {
  --foreground-color: #e3c0df;
}

#app {
  background-color: var(--foreground-color);
  width: 100vw;
  height: 100vh;
  text-align: center;
}